.btn-info {
  border-radius: 40px;
  min-height: 40px;
  font-size: 14px;
  font-weight: 500;
}

.btn {
  min-width: 80px;
}

.btn-rounded {
  border-radius: 40px;
}

.btn-secondary {
  color: $gray;
  &:hover,
  &:focus {
    color: $gray-dark;
  }
}
