.form-floating {
  &> .form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $light;
    padding: 1rem 0 0 0;
    font-size: 15px;
    &:focus {
      border-bottom: 1px solid $primary;
      background-color: $red-bg;
      box-shadow: none;
    }
  }
  &> label {
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 1rem 0 0 0;
    border: none;
    color: $light;
    font-size: 15px;
    &:focus {

    }
  }
}

.form-control {

  &[variant="floating"] {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $light;
    font-size: 15px;
    padding: 0.75rem 2px;
    color: $black;
    &:focus {
      border-bottom: 1px solid $primary;
      background-color: $red-bg;
      box-shadow: none;
    }
    &::placeholder {
      color: $light;
    }
  }
}
