.sdp-table {
  width: 100%;
  overflow-x: scroll;
  &__header {
    @extend .my-42;
    @extend .sdp-heading;
  }
  .table > :not(caption) > * > * {
    border-bottom-width: 1px;
    border-bottom-color: $stroke !important;
  }
  thead {
    tr {
      background-color: $light-bg;
    }
    th {
      color: $black;
      font-weight: 600;
      font-size: 13px;
      line-height: 1rem;
    }
  }
  tbody {
    tr {
      td {
        font-size: 14px;
        font-weight: 400;
        color: $black;
      }
    }
  }
  .action-icon-wrapper {
    .icon-box {
      margin-right: 4px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .pagination {
    align-items: center;
    &-prev {
      margin-right: 16px;
      cursor: pointer;
    }
    &-next {
      margin-left: 16px;
      cursor: pointer;
    }
    &-page {
      color: $gray-light;
      font-size: 14px;
      padding: 2px 4px;
      cursor: pointer;
      &.active {
        color: $black-dark;
      }
    }
  }
}

.table-wrapper {
  padding-left: 320px;
  padding-right: 320px;
}
