.modal-dialog {
    max-width: 430px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    .font-weight-bold{
        font-weight: bold;
    }
    .text-blue {
        color : #007AFF;
        font-weight: bold;
    }
    .alert {
        text-align: center;
        background: rgba(255, 0, 0, 0.12);
        color :#FF0000;
        margin: 1rem -1rem;
    }
    .input-group {
        .url {
            padding: 10px;
            height: 100%;
            position: absolute;
            left: 0;
            border: 1px solid #E1E2EA;
            z-index: 9999;
            background: #fff;
        }
        input {
            padding-left: 35px;
            position: relative;
        }
    }
}
