BROWSER=none
EXTEND_ESLINT=true
FAST_REFRESH=true
DOMAIN=34.101.88.160
REACT_APP_DOMAIN=$DOMAIN
REACT_APP_API_URL=http://$DOMAIN/api-be
REACT_APP_DATA_API_URL=http://$DOMAIN/data
FACEBOOK_APP_ID=XXXXXXXXXXX