# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
translation.json

# misc
.DS_Store

# .env
.env
.env.*
!.env.example

# IDE
.idea
.vscode
.vs

# Logs
logs
*.log
*.log*
