.userProfile {
  font-family: Myriad Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: blue;
}

// Berita Utama
.overview {
  font-size: 16px;
  line-height: 24px;
  color: $gray-dark;

}

.read_more_link {
  color: $blue-link;
  text-decoration: underline;
  letter-spacing: 1px;
  cursor: pointer;

}

.beritaDetailContent {
  p {
    font-size: 16px;
    line-height: 24px;
    color: $gray-dark;
  }
  img {
    width: -webkit-fill-available !important;
    margin: 15px 0;
  }
}

// berita per bulan 
.wrapper {
  border-top: 4px solid $red;
  padding-top: 32px;
}

.topik {
  font-size: 9px;
  color: #007AFF;
  background: rgba(0, 122, 255, 0.12);
  border-radius: 4px;
  padding: 6px 8px;
  display: inline-block;
}

.judul {
  font-weight: 600;
  font-size: 16px;
  color: $black-dark;
  margin-top: 5px;
  cursor: pointer;
}

.kontent {
  font-size: 12px;
  line-height: 21px;
  color: $gray-dark;
}

.loadMoreBUtton {
  background: $gray-bg;
  border-radius: 4px;
  font-size: 14px;
  color: $black-dark;
  padding: 16px 24px;
  margin: 32px 0;
  border: 0;
}
