.sdp-beranda {
  @include screen-tablet {
    width: 100% !important;
  }
  &__card-box {
    @include screen-tablet {
      margin-top: 16px;
    }
  }
}

.logo-header {
  width: 50px;
  height: 50px;
}

.max-h-screen {
  max-height: 98vh;
  overflow-y: auto;
}