.sdp-bimtek-kota {
  &__item {
    border: 1px solid $stroke;
    border-radius: 4px;
    padding: 12px;
    height: 150px;

    .date {
      background: $gray-bg;
      border-radius: 4px;
      padding: 8px 12px;
      display: inline-block;
      font-size: 14px;
    }
  }
}
