.select-pendaftran {
  margin-bottom: 24px;
}

.wrapper {
  position: relative;
}

.error-message {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

.materi-wrapper {
  position: relative;
  min-height: 93px;
}
