.sdp-bimtek-form {
  &__error-message {
    position: absolute;
    top: 70px;
    margin-bottom: 0;
    color: red;
  }

  &__pendaftaran-form-field label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray-dark);
  }
}
