.cms-data-analytic .btn-delete {
  background-color: rgba(255, 0, 0, 0.12);
  border-color: transparent;

  & > svg {
    width: 15px;
  }
}

.cms-data-analytic .form-check-input {
  &:checked {
    background-color: rgb(35, 189, 115);
    border-color: #23bd73;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(35, 189, 115, 0.25);
  }
}
