.sdp-cms-api {
  .sdp-table {
    &__table-wrapper {
      .table {
      thead {
        tr {
          th {}
          border-bottom: 2px solid $gray-light;
          background-color: $white;
        }
      }
      }
    }
  }
}

.sdp-cms-management-api-container {
  height: 100%;
  .sdp-card-wrapper {
    background: #FFFFFF;
    border: 1px solid #E1E2EA;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    .sdp-card-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: var(--black-light);
    }

    .sdp-card-detail {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #858A8F;
    }

    .sdp-count {
      min-width: 30%;
      border-radius: 0px 3px 0px 0px;
      height: fit-content;
    }
  }
}

.sdp-management-api-create-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  .sdp-table {
    .sdp-table__table-wrapper {
      overflow: visible !important;
    }
  }
}
