.dropdown-box {
  padding: 16px 15px;
  border-radius: 4px;
  border: 1px solid #e1e2ea;
  margin-right: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: inline-flex;
  user-select: none;
  cursor: pointer;

  & + div {
    font-size: 16px;
  }
}

.dashboard-modal {
  position: absolute;
  width: 300px;
  font-size: 12px;
  background: white;
  justify-content: left;
  border: 1px solid #e1e2ea;
  z-index: 2;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}

.dashboard-modal .list-group-item {
  color: #2d2627;
  border: 0;
}

.dashboard-modal .list-group-item.active {
  background: #f5f6fa;
  color: #2d2627;
  border-right: 4px solid #ff0000;
}
