.sdp-table-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--gray-dark);
}

.sdp-table-sub-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-dark-10);
}

.sdp-form-label {
  font-size: 14px;
  line-height: 17px;
  color: var(--gray-dark);
}
