.sdp-perminataan-data-container {
  .sdp-perminataan-left-sidebar {
    margin-top: 16px;
    .sdp-perminataan-sidebar-item {
      padding: 15px 16px;
    }
    .active {
      background: var(--secondary);
    }
  }
}

.modal-dialog {
  max-width: 430px;
  display: flex;
  align-items: center;
  min-height: 100vh;
  .font-weight-bold{
      font-weight: bold;
  }
  .text-blue {
      color : $blue;
      font-weight: bold;
  }
  .alert {
      text-align: center;
      background: rgba(255, 0, 0, 0.12);
      color :$red;
      margin: 1rem -1rem;
  }
  .input-group {
      .url {
          padding: 10px;
          height: 100%;
          position: absolute;
          left: 0;
          border: 1px solid $stroke;
          z-index: 9999;
          background: $white;
      }
      input {
          padding-left: 35px;
          position: relative;
      }
  }
}

.icon-box {
  width: 3rem !important;
  height: 3rem !important;
}

.permintaan-data-form-success{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 600;
  color: $green-light;
  background-color: rgb(226, 244, 235);
}

.permintaan-data-form-terkirim{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color:$purple;
  font-weight: 600;
  background-color: rgb(147, 112, 216);
}

.permintaan-data-form-terproses{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $dark-orange;
    background-color: rgb(251, 241, 227);
}

