.permintaan-data-form-success{
  background-color: palegreen;
  width: 96%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
}

.permintaan-data-form-terkirim{
  background-color: mediumpurple;
  width: 96%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rebeccapurple;
}

.permintaan-data-form-terproses{
  background-color: orange;
  width: 96%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: darkorange;
}
