.sdp-topic-detail-wrapper {
  .sdp-icon {
    height: 20px;
    width: 20px;
  }
  .sdp-icon-rotate {
    transform: rotate(-90deg)
  }

  .sdp-item-wrapper {
    .menu-item {
      &:hover {
        border-radius: $border-radius;
        background: var(--gray-bg);
      }
    }
  }

  .sdp-card-wrapped {

    .sdp-card-right-section {
      .sdp-item-link-title {
        font-size: 13px;
        line-height: 16px;
        text-align: right;
        color: var(--blue-dark);
      }
    }
  }
}
