.cms-data-analytic .btn-delete {
  background-color: rgba(255, 0, 0, 0.12);
  border-color: transparent;
}

.cms-data-analytic .ant-table table {
  border-spacing: 0 8px;
}

.cms-data-analytic .ant-table-thead > tr > th {
  background-color: transparent;
  font-weight: 600;
  color: #2d2627;
  border-bottom: 0;
}

.cms-data-analytic .ant-table-tbody > tr > td {
  border-top: 1px solid #e1e2ea;
  border-bottom: 1px solid #e1e2ea;

  &:first-child {
    border-left: 1px solid #e1e2ea;
    border-radius: 8px 0 0 8px;
  }

  &:last-child {
    border-right: 1px solid #e1e2ea;
    border-radius: 0 8px 8px 0;
  }
}

.cms-data-analytic
  .ant-table-thead
  > tr
  > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
  display: none;
}
