.bimtek-form .card-header {
  padding: 24px;
   
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #515154;
  background: #fff;
}

.bimtek-form .card-body {
  padding: 24px;
}

.bimtek-form .form-control {
  margin-bottom: 24px;
}

.bimtek-form button.btn-info {
  padding: 0 40px;
}
