.sdp-header{
  top: 0;
  right: 0;
  left: 0;

  .nav-link {
    color: #2D2627 !important;
  }

  .active {
    color: #FF0000 !important;
    .dropdown-toggle {
      color: #FF0000 !important;
    }
  }
}

.sdp-cms-header{
  padding: 0 !important;
}
