.sdp-bottom {
  .sdp-bottom-line {
    a {
      color: #515154;
      text-decoration: none;
    }

    .sdp-social-media {
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}
