$customSpacings: 6, 7, 8, 10, 12, 15, 16, 18, 24, 27, 30, 32, 35, 40, 42, 48, 50, 80, 97, 100, 200, 250, 320, 328, 500;

@each $size in $customSpacings {
	.m-#{$size} {
		margin: #{$size}px !important;
	}
	.mx-#{$size} {
		margin-left: #{$size}px !important;
		margin-right: #{$size}px !important;
	}
	.my-#{$size} {
		margin-top: #{$size}px !important;
		margin-bottom: #{$size}px !important;
	}
  .ml-#{$size} {
		margin-left: #{$size}px !important;
  }
	.mr-#{$size} {
		margin-right: #{$size}px !important;
  }
	.mt-#{$size} {
		margin-top: #{$size}px !important;
  }
	.mb-#{$size} {
		margin-bottom: #{$size}px !important;
  }
	.p-#{$size} {
		padding: #{$size}px !important;
	}
	.px-#{$size} {
		padding-left: #{$size}px !important;
		padding-right: #{$size}px !important;
	}
	.py-#{$size} {
		padding-top: #{$size}px !important;
		padding-bottom: #{$size}px !important;
	}
	.pl-#{$size} {
		padding-left: #{$size}px !important;
  }
	.pr-#{$size} {
		padding-right: #{$size}px !important;
  }
	.pt-#{$size} {
		padding-top: #{$size}px !important;
  }
	.pb-#{$size} {
		padding-bottom: #{$size}px !important;
  }
}

$customWidths: 40, 42, 48, 50, 80, 120, 180, 200, 250, 320;

@each $size in $customWidths {
  .wpx-#{$size} {
		min-width: #{$size}px !important;
		width: #{$size}px !important;
  }
}
