.sdp-heading {
  color: $black;
  font-size: 24px;
  font-weight: 700;
}

.sdp-sub-heading {
  color: var(--black-dark-10);
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.sdp-error {
 color: $red;
 font-size: 14px;
 margin-top: 4px;
}

.sdp-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--black-dark-10);
}

a {
  color: $blue-link;
  text-decoration: underline;
  &:hover {
    color: $blue;
  }
}

.sdp-text-green {
  color: var(--green);
}

.sdp-text-blue {
  color: var(--blue-light);
}

.sdp-text-blue-dark {
  color: var(--blue-dark);
}

.sdp-text-grey {
  color: var(--gray-dark);
}

.sdp-text-disable {
  color: var(--gray);
}

.sdp-text-red {
  color: var(--red);
}

.sdp-text-black-dark {
  color: var(--black-dark-10)
}

.text-hightlighted {
  color: $blue;
}
